@import "./../../index.css";


.home-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  height: auto;
  margin:auto;
  padding-bottom: 150px;
}

.project-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color:var--(primary-color);
  border-radius: 10px;
}
.githubPages{
  border: none;
}
.Real,#About,#Contact h2{
  font-size: 2rem;
  margin: 10px 0;
  color:var(--secondary-color);
  

}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size:50px;
  color:var(--secondary-color);
}


.slick-slide img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 20px 0;
  margin: auto;
  height: auto;
  border-radius: 10px;
}
.project__img:hover {
  transform: scale(1.01);
  transition: transform 0.5s ease;
  opacity: 0.95;
  box-shadow: 0 2px 4px rgba(2, 0, 0, 4);
}
.projet__img img {
  width: 60%;
  margin: 20px 0;
}


.realisations__project--desc {
  margin-top: 1rem;
}
#contact{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#about{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home__presentation {
  display: flex;
  flex-direction: column;
  
}

.slick-dots li button:before {
  font-size: 20px;
  color:var(--secondary-color);
}




ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

li {
  margin: 0.5rem 0;
}



@media (max-width: 768px) {
  .project__img {
    width: 100%;
  }
  .slick-prev:before, .slick-next:before {
    display:none;
  }


}
