/* CSS pour le footer */

@import "./../../index.css";
footer {
    display: flex; /* Pour afficher les éléments en ligne */
    align-items: center; /* Alignement vertical des éléments au centre */
    justify-content: center; /* Alignement horizontal des éléments au centre */
    background-color:var(--primary-color); /* Couleur de fond du footer */
    color:var(--secondary-color); /* Couleur du texte du footer */
    padding: 10px; /* Espacement interne du footer */
    position: fixed; /* Le footer restera en bas de la page */
    left: 0;
    bottom: 0;
    width: 100%; /* Largeur du footer */
    height: 7%;
}

.footer {
    display: flex; /* Pour afficher les éléments en ligne */
    align-items: center; /* Alignement vertical des éléments au centre */
    justify-content: center; /* Alignement horizontal des éléments au centre */
}

.footer img {
    height: 50px; /* Hauteur de l'image du footer (ajustez selon vos besoins) */
    margin-right: 10px; /* Espacement à droite de l'image */
}

.footer h2 {
    font-size: 1.5rem; /* Taille du titre */
}
.footer__links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    width: 100%;
    list-style: none;
    text-decoration: none;
    font-size: 3rem;
   
}
/* Responsive Styles */
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
 }
 .footer img {
    height: 25px; /* Hauteur de l'image du footer (ajustez selon vos besoins) */
    margin-right: 10px; /* Espacement à droite de l'image */
}
.footer h2 {
    font-size: 1rem; /* Taille du titre */
    
}
}