

/* Réinitialisation de style (reset) */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, figure, figcaption,
dl, dd, ol, ul,
pre,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}




/* Couleurs */
:root {
  --primary-color: #f8fafb; /* Couleur primaire */
  --secondary-color: black; /* Couleur secondaire */
  --background-light: #f8fafb; /* Couleur de fond en mode clair */
  --background-dark: #1c1c1c; /* Couleur de fond en mode sombre */
}

/* Styles généraux */
body {
  font-family: "Arial Black", sans-serif; /* Utilisation de la police Arial Black */
  line-height: 1.6;
  box-sizing: content-box;
  background-color: var(--background-light); /* Utilisation de la couleur de fond en mode clair */
  color: var(--secondary-color);
  transition: background-color 0.3s ease; /* Transition fluide du fond */
}

body.dark-mode {
  background-color: var(--background-dark); /* Utilisation de la couleur de fond en mode sombre */
  color: var(--primary-color); /* Couleur du texte en mode sombre */
}


a {
  text-decoration: none;
  color: var(--secondary-color); /* Utilisation de la couleur primaire */
}

a:hover {
  text-decoration: none;
  transform: scale(1.1);
  color: red;
}

a.dark-mode {
  background-color: var(--background-dark);
  color: var(--primary-color);
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

