

/* Réinitialisation de style (reset) */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, figure, figcaption,
dl, dd, ol, ul,
pre,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  color: var(--secondary-color);
}
h2{
  text-decoration: underline;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}




/* Couleurs */
:root {
  --primary-color: #f8fbfd; /* Couleur primaire */
  --secondary-color:rgb(246, 244, 235); /* Couleur secondaire */
  --background-color: #065271; /* Couleur de fond en mode clair */
}

/* Styles généraux */
body {
  font-family: "Arial Black", sans-serif; /* Utilisation de la police Arial Black */
  line-height: 1.6;
  box-sizing: border-box;
  background-color: var(--background-color); /* Utilisation de la couleur de fond en mode clair */
  color: var(--secondary-color);
}


a {
  text-decoration: none;
  color: var(--secondary-color); /* Utilisation de la couleur primaire */
}

a:hover {
  text-decoration: none;
  transform: scale(1.1);
  color: rgb(224, 21, 21);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

/* Ajoutez vos styles spécifiques ci-dessous */