/* Header.css */
@import "./../../index.css";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.logo__made{
  width: auto;
  height: 75px;
  margin: 0 auto;
}
.logo__made img{
  width: auto;
  height: 100px;
}

.header__NavLink {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.header__NavLink a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}


.header__NavLink img {
  width: 30px;
  height: 30px;
}

/* Style pour le bouton de changement de mode sombre */
.dark-mode-toggle {
  cursor: pointer;
  transition: transform 1.1s ease;
}

.dark-mode-toggle:hover {
  transform: scale(1.1);
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .header {
     flex-direction: column;
     flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .header {
     
  }
}